
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

runs/
*.pt
*.weights
*.onnx


*.ipynb_checkpoints/


dataset/
!dataset/fire.yaml  # keep your config if needed
*.jpg
*.JPG
*.jpeg
*.png
*.bmp


.DS_Store
.env
.vscode/
